* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

#header .headerWrap {
  width: 100%;
  height: 700px;
  background-color: rgb(216, 213, 219);
  display: flex;
  position: relative;
}

#header .headerWrap .logo {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 70px;
  font-weight: 800;
  padding: 20px 30px;
  color: rgb(38, 165, 55);
  z-index: 1;
}
#header .headerWrap .nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  z-index: 1;
}
#header .headerWrap ul {
  display: flex;
}
#header .headerWrap ul li {
  padding: 30px;
}

#header .headerWrap ul li a {
  display: inline-block;
  background-color: rgb(107, 105, 105);
  color: white;
  padding: 10px 20px;
  border-bottom: 7px solid rgb(56, 148, 79);
  border-radius: 15px;
}
#header .headerWrap ul li a:hover {
  background-color: rgb(44, 44, 44);
}

#header .headerWrap .slide {
  display: flex;
}
#header .headerWrap .slide .slider:first-child {
  display: block;
}
#header .headerWrap .slide .slider {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

#header .headerWrap .slide img {
  vertical-align: top;
}

#search {
  width: 100%;
  height: 150px;
  background-color: rgb(230, 223, 215);
}

#contents {
  width: 100%;
  height: 1200px;
  background-color: rgb(142, 144, 146);
}

#footer {
  width: 100%;
  height: 500px;
  background-color: rgb(57, 58, 58);
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#plantInfo {
  margin-top: 20px;
}

#plantInfo div {
  margin-bottom: 20px;
}
